/* Formulario */
form{
    max-width: 50%;
    background-color: #90cce7;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(62, 50, 236, 0.863);
  }



